body#fondo{
    background-color:#f4f4f4;
    text-align:center;
    font-family: "Sans Serif";
    font-size:20px;
  }
  header#prin{
    text-align:center;
    background-color:#002858;
    color:white;
    padding:10px;
  }
  div#contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  section{
    text-align:center;
    background-color: #f9f9f9;          
    padding: 20px;                      
    border-radius: 8px;                  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;                          
    max-width: 300px;                   
    margin: 20px ;
  }
  section:hover{
    box-shadow: 2px 2px 5px black;
    transition:0.5s;
  }
  section button#contactar{
    color:#007aff;
    background-color:white;
    border: solid 1px #007aff;
    border-radius: 5px;
  }
  section h2{
    color:#002858;
  }
  section h3{
    color:#002858;
  }
  body#fondo button#vermas{
    background-color:#ffc836;
    color:#007aff;
    border: solid 0px #007aff;
  }
  button:hover{
    box-shadow: 2px 2px 5px black;
    transition:0.5s;
  }